<form class="" ng-submit="vm.newTramiteDocument( vm.nameTramiteDocument, vm.office, vm.typeUser )" method="post">
  <div id="modalEditComment" class="modal-size-atd">
    <!-- Encabezado del modal -->
    <div class="modal-header">
      <h4 class="modal-title" ng-if="vm.newTramite">Nuevo tramite</h4>
      <h4 class="modal-title" ng-if="vm.newDocument">Nuevo documento</h4>
    </div>
    <!-- Cuerpo del modal -->
    <div class="modal-body" style="padding-bottom:0px; padding-top:5px">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <span>Nombre del tramite:</span>
            <input style="width:100%; font-size: 1.5em" class="form-control m-t-10" type="text" ng-model="vm.nameTramiteDocument" required autofocus>
          </div>
          <div ng-if="vm.newTramite && vm.office == 'Registro y Control'" class="form-group">
            <span>Tipo de usuario:</span>
            <select class="form-control m-t-10" ng-model="vm.typeUser" required>
              <option>A</option>
              <option>B</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- Pie de pagina del modal -->
    <div class="modal-footer" style="">
      <div class="row">
        <div class="col-xs-offset-1 col-lg-5" align="center">
          <button type="button" class="btn btn-warning" ng-click="vm.modalNewTramiteDocument.dismiss(); vm.newTramite = false; vm.newDocument = false; vm.nameTramiteDocument = '' ">Cancelar</button>
        </div>
        <div class="col-lg-5" align="center">
          <button type="submit" class="btn btn-warning">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</form>
