<!-- Modal content-->
<form class="" ng-submit="vm.addTramite()" method="post">
  <div class="modal-size-rp">
    <!-- Encabezado del modal -->
    <div class="modal-header">
      <h4 class="modal-title">Recuperar Contraseña</h4>
    </div>
    <!-- Cuerpo del modal -->
    <div class="modal-body ">
      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="email" class="form-control" ng-model="vm.resetPassword" placeholder="Correo electrónico..." required>
      </div>
    </div>
    <!-- Pie de pagina del modal -->
    <div class="modal-footer">
      <div class="text-center">
        <button type="submit" class="btn btn-warning m-r-15" >Recuperar</button>
          <button type="button" class="btn btn-warning" ng-click="vm.modalAddTramite.dismiss()">Cancelar</button>
      </div>
    </div>
  </div>
</form>
