<!-- Modal content-->
<div class="modal-content modal-size-li">
  <!-- Encabezado del modal -->
  <div class="modal-header">
    <h4 class="modal-title">Datos incorrectos</h4>
  </div>
  <!-- Cuerpo del modal -->
  <div class="modal-body ">

    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-1 m-t-25 ">
        <img src="/images/error.png" class="img-responsive" alt="">
      </div>
      <div class="col-lg-9">
        <p class="f-20">El usuario o la contraseña son incorrectos</p>
      </div>

    </div>
  </div>
  <!-- Pie de pagina del modal -->
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="vm.modal.dismiss()">Aceptar</button>
  </div>
</div>
