<div ng-include="'views/menubar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

      <div class="row">

        <div class="col-lg-4 m-t-13por cursor-pointer">
          <div align="center">
            <div class="card designCard" ng-click="vm.saveArea('registroyControl')">
              <!-- <hr style="margin:0px; padding:0px"> -->
              <p class="f-3em">Oficina de Registro y Control</p>
              <!-- <hr style="margin:0px;padding:0px; marg"> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 m-t-13por cursor-pointer">
          <div align="center">
            <div class="card designCard" ng-click="vm.saveArea('serviciosalPersonal')">
              <p class="f-3em">Oficina de Servicios Personales</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 m-t-13por cursor-pointer">
          <div align="center">
            <div class="card designCard" ng-click="vm.saveArea(3)">
              <p class="f-3em">Oficina 3</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
