<div ng-include="'views/menubar.html'"></div>

<div class="container-fluid">
    <h2 align="center">Gestion de tramites</h2>
    <div class="row m-t-30">
        <div class="col-lg-5"></div>
        <div class="col-lg-2 m-t-10 m-b-30" align="center">
            <div class="m-b-5">
                <span>Seleccione la oficina:</span>
            </div>
            <select id="office" class="form-control" ng-change="vm.saveOffice()" ng-model="vm.office">
                <option >Registro y Control</option>
                <option>Servicios al Personal</option>
            </select>
        </div>
        <div class="col-lg-5"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-3">
            <div class="form-group has-feedback" >
              <label for="search" class="sr-only">Search</label>
              <input  type="text" class="form-control" name="search" id="search" placeholder="Buscar" ng-model="vm.searchTramite">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
        <div class="col-lg-2">
            <button style="width:100%" type="button" class="btn btn-warning" ng-click="vm.isNewTramite = true; vm.openModalNewTramite()">Agregar</button>
        </div>
        <div class="col-lg-2">
            <button style="width:100%" type="button" class="btn btn-warning" ui-sref="gestionDocumentos">Documentos</button>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Tramites</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="vm.office == 'Registro y Control'" ng-repeat="tramite in vm.tramitesRegistroyControl | toArray | filter: {nombreTramite: vm.searchTramite}">
                    <td style="width: 90%; font-size:1.2em" class="cursor-pointer" ng-click="vm.openModalUpdateTramite(vm.office, tramite.$key)">{{tramite.nombreTramite}}</td>
                    <td style="width: 10%">
                        <div class="dropdown"  align="right">
                            <i class="zmdi zmdi-more-vert zmdi-hc-lg cursor-pointer dropdown-toggle" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="cursor-pointer"><a ng-click="vm.openModalUpdateTramite(vm.office, tramite.$key)">Actualizar</a></li>
                                <li class="cursor-pointer"><a ng-click="vm.removeTramite(vm.office, tramite.$key)">Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-if="vm.office == 'Servicios al Personal'" ng-repeat="tramite in vm.tramitesServiciosalPersonal | toArray | filter: {nombreTramite: vm.searchTramite}">
                    <td style="width: 90%; font-size:1.2em" class="cursor-pointer" ng-click="vm.openModalUpdateTramite(vm.office, tramite.$key)">{{tramite.nombreTramite}}</td>
                    <td style="width: 10%"> 
                        <div class="dropdown"  align="right">
                            <i class="zmdi zmdi-more-vert zmdi-hc-lg cursor-pointer dropdown-toggle" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="cursor-pointer"><a ng-click="vm.openModalUpdateTramite(vm.office, tramite.$key)">Actualizar</a></li>
                                <li class="cursor-pointer"><a ng-click="vm.removeTramite(vm.office, tramite.$key)">Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>