<div ng-include="'views/menubar.html'"></div>

<div class="container-fluid">
  <h1 ng-if="vm.globalArea == 'registroyControl'" align="center">Registro y Control</h1>
  <h1 ng-if="vm.globalArea == 'serviciosalPersonal'" align="center">Servicios al Personal</h1>
  <div class="row m-t-20 m-b-20" >
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="form-group has-feedback">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control" name="search" id="search" placeholder="Buscar" ng-model="vm.searchTramite">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div align="center" class="col-lg-6 m-t-15 cursor-pointer" ng-repeat="tramite in vm.listaTramites | toArray | filter: {nombreTramite: vm.searchTramite}">
      <div id="cardGuia"  class="card cardGuiaTramite"  ng-click="vm.getDocumentacion( tramite.nombreTramite, tramite.$key )">
        <div class="row">
          <div id="flecha" class="col-lg-1 col-xs-1" style="background-color: #eea236; height:inherit">
            <i class="zmdi zmdi-chevron-right zmdi-hc-3x"></i>
          </div>
          <div class="col-lg-11 col-xs-10">
            <p style="font-size:1.3em; padding-top:1%"><b>{{tramite.nombreTramite}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
