<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive" src="/images/header_ith.png" alt="No se pudo cargar la imagen">
    </div>
  </div>

  <div class="row rowLogin">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <!-- <div class="t-a-c m-b-10">
        <label class="f-20">Bienvenido!!</label>
      </div> -->
      <div class="divLogin card">
        <div class="t-a-c m-b-10">
          <label class="f-20">Bienvenido!!</label>
        </div>
        <form class="" ng-submit="vm.iniciarSesion()">

          <!-- <div class="form-group">
            <label for="exampleInputEmail1">Correo Electronico</label>
            <input type="email" class="form-control" id="txtcorreo" ng-model="vm.email" placeholder="Correo electronico.." required autofocus>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="txtcontraseña" ng-model="vm.password" placeholder="Contraseña..." required>
          </div> -->

          <div class="input-group m-t-15">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="email" type="text" class="form-control" name="email" ng-model="vm.email" placeholder="Correo electronico">
          </div>
          <div class="input-group m-t-25">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" ng-model="vm.password" placeholder="Contraseña">
          </div>

          <div class="form-group text-right m-t-10">
            <a  ui-sref="resetPassword">Olvide mi contraseña</a>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-warning m-r-15">Iniciar Sesion</button>
            <button type="button" class="btn btn-warning" ng-controller="registerUserCtrl as vm" ng-click="vm.openModalregisterUser()">Registrarse</button>
          </div>
        </form>
      </div>
    <div class="col-lg-2"></div>
  </div>
</div>
